<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyf.malltiny.modules.ums.mapper.UmsRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cyf.malltiny.modules.ums.model.UmsRole">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="admin_count" property="adminCount" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
        <result column="sort" property="sort" />
    </resultMap>
    <select id="getRoleList" resultType="com.cyf.malltiny.modules.ums.model.UmsRole">
        select
          r.id id,
          r.`name` `name`,
          r.description description,
          r.admin_count adminCount,
          r.create_time createTime,
          r.status status,
          r.sort sort
        from
          ums_role r
            left join ums_admin_role_relation uar on  r.id = uar.role_id
        where uar.admin_id = #{adminId}
    </select>

</mapper>
